@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #050505;
  --color-primary: #D4AF37;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-bg-light border border-bg-light rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-text/30;
}

.glass-card {
  @apply bg-bg-light/80 backdrop-blur-md shadow-lg border border-white/5 hover:border-primary/30 hover:-translate-y-1 transition-all duration-300;
}